<!-- prettier-ignore -->
{% extends "base.html" %}
 
{% block title %}Hello!{% endblock %}
 
{% block content %}
<!-- Sidebar -->
	<form
		hx-get="/api/get_chats"
		id="chats"
		hx-swap="outerHTML"
	>
		<div class="bg-white p-4 flex items-center" > 
			<input
				type="text"
				name="user_id"
				id="user_id"
				placeholder="Type your user_id..." 
				class="flex-1 border rounded-full px-4 py-2 focus:outline-none"
			/>
			<button
				type="submit"
				class="bg-blue-500 text-white rounded-full p-2 ml-2 hover:bg-blue-600 focus:outline-none"
			>
				Add
			</button>
		</div>
	</form>
{% endblock %}
